<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme._1112">
        <activity android:name=".ParentMotivationSettingsActivity" />
        <activity
            android:name=".ProviderListActivity"
            android:exported="false" />
        <activity
            android:name=".MotivationActivity"
            android:exported="false" />
        <activity
            android:name=".MedicineLogActivity"
            android:exported="false" />
        <activity
            android:name=".InventoryActivity"
            android:exported="false" />
        <activity
            android:name=".PEFActivity"
            android:exported="false" />
        <activity
            android:name=".TriageActivity"
            android:exported="false" />
        <activity
            android:name=".Parent_Setting_Activity"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".DailyCheckInActivity"
            android:exported="false" />
        <activity
            android:name=".ProviderHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ChildHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ParentHomeActivity"
            android:exported="false" />
        <activity
            android:name=".OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddChildActivity"
            android:exported="false" />
        <activity
            android:name=".ChildShareSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".TechniqueHelperActivity"
            android:exported="false" />
        <activity
            android:name=".ProviderMainActivity"
            android:exported="false" />
        <activity
            android:name=".ScheduleConfigurationActivity"
            android:exported="false" />
        <activity
            android:name=".ProviderReportActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.a1112.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>